# -------------------------------------------------------------------
# Purpose:
#   Deploy the docker_stack using the appropriate backend: Docker Compose or Docker Swarm.
# -------------------------------------------------------------------

- name: Deploy stack using Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ docker_stack.directories.stack.path }}"
    state: present
  when: docker_stack.mode == "compose"

- name: Deploy stack using Docker Swarm
  community.docker.docker_stack:
    name: "{{ docker_stack.name }}"
    state: present
    compose:
      - "{{ docker_stack.directories.stack.path }}/docker-compose.yml"
  when: docker_stack.mode == "swarm"
  run_once: true
