# -------------------------------------------------------------------
# Purpose:
#   Render the docker-compose.yml file for the stack
# -------------------------------------------------------------------

- name: "{{ _stack_prefix }} Write docker-compose.yml"
  ansible.builtin.copy:
    content: >-
      {{
        docker_stack_compose_dict
        | dict2items
        | sort(attribute='key')
        | items2dict
        | to_nice_yaml(indent=2)
      }}
    dest: "{{ docker_stack.directories.stack.path }}/docker-compose.yml"
    owner: root
    group: root
    mode: "0644"
