services:
{% for name, svc in docker_stack.services.items() %}
  {{ name }}:
    image: {{ svc.image }}
{% if svc.command is defined and svc.command | length > 0 %}
    command:
{% for c in svc.command | default([]) | list %}
      - "{{ c }}"
{% endfor %}
{% endif -%}

{% if svc.environment is defined and svc.environment | length > 0 %}
    environment:
{% for k, v in svc.environment.items() %}
      {{ k }}: {{ v | quote }}
{% endfor %}
{%- endif -%}

{% set has_secrets = docker_stack.secrets is defined and docker_stack.secrets | length > 0 %}
{% set has_labels  = svc.labels is defined and svc.labels | length > 0 %}
{% if has_secrets or has_labels %}
    labels:
{% if has_secrets %}
      {{ docker_stack.label_secret_hash | default('docker.secrets.hash') }}: "{{ docker_stack_combined_secret_hash }}"
{% endif %}
{% for k, v in (svc.labels | default({})).items() %}
      {{ k }}: "{{ v }}"
{% endfor %}
{% endif -%}

{% if svc.ports is defined and svc.ports | length > 0 %}
    ports:
{% for port in svc.ports %}
      - target: {{ port.target }}
        published: {{ port.published }}
        protocol: {{ port.protocol }}
{% if port.mode is defined %}
        mode: {{ port.mode }}
{% endif %}
{% endfor %}
{% endif -%}

{% if svc.volumes is defined and svc.volumes | length > 0 %}  
    volumes:
{% for v in svc.volumes %}
      - "{{ v }}"
{% endfor %}
{% endif -%}

{% if svc.networks is defined and svc.networks | length > 0 %}  
    networks:
{% for n in svc.networks %}
      - "{{ n }}"
{% endfor %}
{% endif -%}

{% if svc.secrets is defined and svc.secrets | length > 0 %}  
    secrets:
{% for s in svc.secrets %}
      - source:
{%- if docker_stack.mode == "swarm" %}
 {{ (s.source | regex_replace('^_+', '') | regex_replace('_+$', '') | truncate(55, True, '') ) ~ '_' ~ docker_stack_secret_hashes[s.source][:8] }}
{% else %}
 {{ s.source }}
{% endif %}
{% if s.target is defined %}
        target: {{ s.target }}
{% endif %}
{% if s.uid is defined %}
        uid: {{ s.uid }}
{% endif %}
{% if s.gid is defined %}
        gid: {{ s.gid }}
{% endif %}
{% if s.mode is defined %}
        mode: {{ s.mode }}
{% endif %}
{% endfor %}
{% endif -%}

{% if docker_stack.mode == "compose" and svc.extra_hosts is defined and svc.extra_hosts | length > 0 %}  
    extra_hosts:
{% for eh in svc.extra_hosts %}
      - "{{ eh }}"
{% endfor %}
{% endif -%}

{% if docker_stack.mode == "swarm" and svc.deploy is defined %}
    deploy:
      {{ svc.deploy | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}
{% endfor -%}

{% if docker_stack.networks is defined and docker_stack.networks | length > 0 %}
networks:
{% for name, net in docker_stack.networks.items() %}
  {{ name }}:
{% if net is mapping %}
    {{ net | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
    {}
{% endif %}
{% endfor %}
{% endif -%}

{% if docker_stack.secrets is defined and docker_stack.secrets | length > 0 %}
secrets:
{% for key, secret in docker_stack.secrets.items() %}
{% if docker_stack.mode == "swarm" %}
  {{ (key | regex_replace('^_+', '') | regex_replace('_+$', ''))[:55] }}_{{ docker_stack_secret_hashes[key][:8] }}:
    external: true
{% else %}
  {{ key }}:
    file: {{ docker_stack.directories.secrets.path }}/{{ key }}
{% endif %}
{% endfor %}
{% endif %}
